<!DOCTYPE html>
<html>
<head>
	<title>register Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">

    <style>
        body {
	background-color: #f2f2f2;
}

.container {
	margin: auto;
	max-width: 500px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-top: 50px;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
	color: #333333;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

button[type=submit]:hover {
	background-color: #45a049;
}

label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
	color: #333333;
}

    </style>
    
</head>
<body>
	<div class="container">
		<h1>register</h1>
        <br>
        <h1>user name already exist</h1>
		<form method="POST" action="/myapi/registerpost">
			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>

			<label for="pass"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pass" required>

			<button type="submit" >register</button>

		</form>
	</div>
</body>
</html>
